<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="container">
    <header>
        <h2>
            
        </h2>
    </header>
    <div role="main">
        <div class="data-form">
            <form class="form-signin" action="/login" method="POST">
                <label for="inputEmail">Email address</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <br /><button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
            </form>
            <br>
            <form class="form-signin" action="/login" method="POST">
                <input type="hidden" name="email" id="inputEmail" value="taro@yamada.jp" placeholder="Email address">
                <input type="hidden" name="password" id="inputPassword" value="yamada" placeholder="Password">
                <br /><button class="btn btn-outline-info shadow-sm mb-5 rounded btn-lg btn-block" type="submit">テストユーザー(Taro)としてログイン</button>
            </form>
        </div>
    </div>
</body>

</html>