<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        <%= data.title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">   
        <h1 class="mt-4 mb-5">イベント作成</h1>
        <form method="post" action="/events/add" enctype="multipart/form-data">
            <div class="form-group mb-4">
            <label for="B_Name">イメージ画像</label>
            <br>
            <input type="file" name="uploadFile">
            </div>

            <div class="form-group mb-4">
            <label for="B_Name">タイトル</label>
            <input type="text" name="title" class="form-control">
            <ul class="text-danger">
                <% if (data.err!=null) { for (let i in data.err.get("title")) { %>
                    <li>
                        <%= data.err.get("title")[i].message %>
                    </li>
                <% }} %>
            </ul>
            </div>
        
            <div class="form-group mb-4">
            <label for="B_address">サブタイトル</label>
            <input type="text" name="subTitle" class="form-control">
            <ul class="text-danger">
                <% if (data.err!=null) { for (let i in data.err.get("subTitle")) { %>
                    <li>
                        <%= data.err.get("subTitle")[i].message %>
                    </li>
                    <% }} %>
            </ul>
            </div>

            <div class="form-group mb-4">
            <label for="B_address">詳細</label>
            <textarea type="text" name="detail" class="form-control" rows="10"></textarea>
            <ul class="text-danger">
                <% if (data.err!=null) { for (let i in data.err.get("detail")) { %>
                    <li>
                        <%= data.err.get("detail")[i].message %>
                    </li>
                    <% }} %>
            </ul>

            <div class="form-group mb-4">
            <label for="B_address">タグ</label>
            <input name='tags' class='form-control' placeholder='write some tags' value=''>
    
            <br>
            <div class="form-group mb-4">
            <label for="B_address">開催日</label>
            <input type="datetime-local" class="" name="holdDate" value="">
            </div>

                
            <div class="form-group mb-4">
            <label for="receipt">定員</label>
            <select class="custom-select" id="receipt" name="capacity">
                <option value="10">10名</option>
                <option value="20">20名</option>
                <option value="30">30名</option>
                <option value="40">40名</option>
                <option value="50">50名</option>
            </select>
            </div>
        
            <div class="form-group mb-4">
            <div class="form-check form-check-inline mr-4">
                <input class="form-check-input" type="checkbox" id="gift" name="private">
                <label class="form-check-label" for="gift">公開にする</label>
            </div>
            </div>
            <div>
                <input type="submit" value="送信" class="btn btn-primary col-2">
            </div>
            <button class="btn btn-lite">戻る</button>
        </form>
    </div>
</body>
<script>
    const input = document.querySelector('input[name=tags]'),
        // init Tagify script on the above inputs
        tagify = new Tagify(input, {
            whitelist : ["A# .NET", "A# (Axiom)"],
            blacklist : ["react", "angular"]
        });
    
    // "remove all tags" button event listener
    document.querySelector('.tags--removeAllBtn')
        .addEventListener('click', tagify.removeAllTags.bind(tagify))
    
    // Chainable event listeners
    tagify.on('add', onAddTag)
          .on('remove', onRemoveTag)
          .on('invalid', onInvalidTag);
    
    // tag added callback
    function onAddTag(e){
        console.log(e, e.detail);
        console.log( tagify.DOM.originalInput.value )
        tagify.off('add', onAddTag) // exmaple of removing a custom Tagify event
    }
    
    // tag remvoed callback
    function onRemoveTag(e){
        console.log(e, e.detail);
    }
    
    // invalid tag added callback
    function onInvalidTag(e){
        console.log(e, e.detail);
    }
</script>

</html>